
  .rowHeader{
    /*For organizational purposes: doesn't actually have to look like anything.*/
    display: table-row;
  }
  .itemCell{
    border: 1px ;
    border-color:  #000;
    border-style: solid;
    width: 20px;
    height: 20px;
    display: table-cell;
  }
  .setCell{
    border: 3px;
    border-color:  #000;
    border-style: solid;
    display: table-cell;
    padding: 0px;
  }
  .setLogicTable{
    border-collapse: collapse;
    text-align: center;
  }

  .itemInteractionTable{
    border-collapse: collapse;
    text-align: center;
    border-style: none;
  }

  